{% extends "base.html" %}
{% load static %}
{% block content %}


<h3 style="color: #276678;" class="py-3 border-bottom" >Attendance</h3>
<div class="container py-3 btn-col">
        <ul class="nav nav-pills">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mark Attendance</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">View Attendance</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Request Leave</a>
            </li>
        </ul>
</div>
<div class="container-fluid d-flex w-100 justify-content-center">
    <div class="flex-column">
        <h4 class="align-items-center py-3"> Mark Today's Attendance</h4>
        <button onclick="location.href='/mark_attendance'"  id ="button" class="btn btn-base btn-cust rounded-pill px-5 shadow align-content-center my-3">Mark Attendance</button><br>
        <img src="{% static 'img/clip art.png' %}"  alt="">
        <h6 class="my-2">You are late!!</h6>
    </div>
</div>
<div class="row container" style="background-color: #276678;">
    <div class="col">
        <h6 class="text-white pt-1"> Date: 20/10/2021 </h6>
    </div>
    <div class="col">
        <h6 class="text-white pt-1"> Time In: 1:10pm </h6>
    </div>
    <div class="col">
        <h6 class="text-white pt-1"> Location: In Company </h6>
    </div>
</div>
{% endblock content %}