.tab-content-at {
    display: none !important;
}

.tab-content-at.current {
    display: block !important;
}

.h-at {
    display: none !important ;
}

.h-at.current{
    display: block !important;
}

.table-at {
    display: none !important;
}

.table-at.current{
    display: block !important;
}