{% extends "admin/admin-base.html" %}
{% load static %}
{% block page_title %} Add Staff {% endblock page_title %} 

{% block page_css %} 

<link rel="stylesheet" href="{% static 'styles/add-staff.css' %}">

{% endblock page_css %}

{% block content %}
    <h2>Add Staff</h2>
    <div class="container" >
        <form method="post" action="/adding_staff">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" >
            </div>
            <div class="mb-3 row">
                <div class="col" >
                <label for="Firstname" class="form-label">First Name</label>
                <input type="text" name="Firstname" class="form-control" id="Firstname">
                </div>
                <div class="col">
                <label for="Lastname" class="form-label">Last Name</label>
                <input type="text" name="Lastname" class="form-control" id="Lastname">
                </div>
            </div>
            <div class="mb-3">
                <label for="emailid" class="form-label">Email address</label>
                <input type="email" name="emailid" class="form-control" id="emailid" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" name="gender" class="form-select">
                <option value="M" >Male</option>
                <option value="F"> Female</option>
                <option value="O"> Others</option>
                </select>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="is_staff" class="form-check-input" id="is_staff">
                <label class="form-check-label"  for="is_staff">Staff</label>
            </div>
            <button type="submit" class="btn btn-primary">Add Staff</button>
        </form>
    </div>
{% endblock content %}