{% extends "admin/admin-base.html" %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'styles/atendance.css' %}">
{% endblock page_css %}

{% block content %}


<h3 style="color: #276678;" class="py-3 px-2 border-bottom" >Payroll</h3>
<div class="wrap">
    <div class="container py-3 btn-col">
            <ul class="nav nav-pills aten-nav">
                <li class="nav-item">
                <a class="nav-link active" rel="nofollow" href="#mark_attendance">Payslip</a>
                </li>
                <li class="nav-item">
                <a class="nav-link"  rel="nofollow" href="#view_attendance">Summary</a>
                </li>
            </ul>
    </div>
    <div class="wrap-stage" >
    <div id="mark_attendance" class="tab-content-at">
        <div class="container" >
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Staff id</th>
                <th scope="col">Salary Month</th>
                <th scope="col">Net Salary</th>
                <th scope="col">Salary Status</th>
                </tr>
            </thead>
            <tbody>
                {% for index in pays %}
                
                <tr>
                <th scope="row"> {{index.id}} </th>
                <td> {{index.staff_id.id}} </td>
                <td> {{index.month_pay}} </td>
                <td> {{index.net_salary }} </td>
                {% if index.salary_status %}
                <td> Recived </td>
                {% else %}
                <td> Not Recived </td>
                {% endif %}
                
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <button class="btn btn-cust" onclick="location.href='/add-payroll'">Add new salary</button>
            {% if pays.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if pays.has_previous %}
                <li class="page-item"><a class="page-link" href="?page-aten={{ pays.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in pays.paginator.page_range %}
                {% if pays.number == i %}
                <li class="active page-item"><span class="page-link" >{{ i }}</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page-aten={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if pays.has_next %}
                <li class="page-item"><a class="page-link" href="?page-aten={{ pays.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class=" page-item disabled"><span class="page-link" >&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

    <div id="view_attendance" class="tab-content-at">
        
    </div>
    <div id="request" class="tab-content-at">
    
    </div>
    </div>
</div>
{% endblock content %}

{% block js_link %}
<script src="{% static 'js/attendance.js' %}"></script>
{% endblock js_link %}